.about-container {
    background-color: white;
    height: 60vh;
    display: flex;
}

.about-detail {
    color: black;
    margin: 4%;
    margin-top: 7%;
}

.img-me{
    margin: 5%;
    transition: 0.3s ease;
}

.img-me:hover{
    transform: translateY(-8px);
    box-shadow: 0 0 15px cyan;
}

.skills-section {
    min-height: 100vh;
    background: #0f0f0f;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.skills-container {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.skill-box {
    width: 320px;
    background: #1a1a1a;
    padding: 30px;
    border-radius: 20px;
    transition: 0.3s ease;
}

.skill-box:hover {
    transform: translateY(-8px);
}