
.about-container {
    background-color: white;
    height: 60vh;
    display: flex;
    
}

.about-detail {
    color: black;
    margin: 4%;
    margin-top: 7%;
}

.img-me{
    margin: 5%;
    transition: 0.3s ease;
}

.img-me:hover{
    transform: translateY(-8px);
    box-shadow: 0 0 15px cyan;
}

.project-section{
    height: 80vh;
}

.project-section-container{
    margin-left: 20px;

}

.project-header {
    margin-left: 100px;
}

.project-header-one{
   margin-top: 40px;
}

.project-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.img-promptlearnchi{
    border-radius: 10px;
}

.project-promptlearnchi{
    background: #1e1e1e;
    overflow: hidden;
    border-radius: 16px;
    text-align: center;
    height: 330px;
    width: 27%;
    transition: 0.3s ease;
    color: white;
}

.project-promptlearnchi-btn{
    display: flex;
    gap: 10px;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}

.project-btn-demo {
    background-color: #00d2ff;
    border: none;
    color: black;
    padding: 11px 20px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

.project-btn-demo:hover{
    background-color: #9ad6e3;
}

.project-btn-github{
    background: none;
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid aqua;
    cursor: pointer;
    transition: 0.3s;
}

.project-btn-github:hover{
    background-color: rgb(215, 239, 239);
    color: black;
    border: 1px solid white;
}

.project-promptlearnchi:hover{
    transform: translateY(-8px);
}

.img-resumeai{
    border-radius: 10px;
}

.project-resumeai{
    background-color: #1e1e1e;
    border-radius: 16px;
    text-align: center;
    height: 330px;
    width: 27%;
    transition: 0.3s ease;
    color: white;
}

.project-resumeai-btn{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}

.project-resumeai:hover{
    transform: translateY(-8px);
}