.contact-container{
    background-color: black;
    height: 30vh;
}

.icons {
  display: flex;
  gap: 25px;
  font-size: 35px;
  justify-content: center;
  margin-top: 10%;
}

.icons a {
  color: white;
}

.icons a:hover {
  color: #00bfff;
  transform: scale(1.05);
}

.footer {
  display: flex;
  justify-content: center;
  margin: 6vh;
}